* text=auto eol=lf

.art             export-ignore
.gitattributes   export-ignore
.github/         export-ignore
.gitignore       export-ignore
phpstan.neon     export-ignore
phpunit.dist.xml export-ignore
readme.md        export-ignore
rector.php       export-ignore
tests/           export-ignore